<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
<style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
    <script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>  
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>备份文件列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 备份文件列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">  </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">备份文件列表</th>
			</tr>
			<tr class="text-c">
				<th>编号</th>
		        <th>文件名称</th>
		        <th>文件大小</th>
		        <th>备份时间</th>
		        <th>管理操作</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="arr" item="val" key="key">
    <tr class="text-c">
        <td>{$key}</td>
        <td>{$val.name}</td>
		<td>{$val.fileSize}</td>
        <td>{$val.fileTime}</td>
        <td>
            <a class="btn btn-danger" href="{:U('Dat/index',array('Action'=>'download','File'=>$val['name']))}">下载备份文件&nbsp;&nbsp;</a>
            <a class="btn btn-danger" href="{:U('Dat/index',array('Action'=>'RL','File'=>$val['name']))}">&nbsp;&nbsp;还原备份文件&nbsp;&nbsp;</a>
            <a class="btn btn-danger" href="{:U('Dat/index',array('Action'=>'Del','File'=>$val['name']))}">&nbsp;&nbsp;删除</a>

        </td>
     </tr>
   </foreach>
        <tr>
            <td colspan="5">*&nbsp;&nbsp;数据库还原前请先做好备份，以防数据丢失！</td>
        </tr>
	    <tr>
	        <td colspan="5"><a class="btn btn-danger" href="{:U('Dat/index',array('Action'=>'backup'))}">添加数据库备份</a></td>
	    </tr>
			
		</tbody>
	</table>
</div>

</body>
</html>