
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 系统日志 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont">&#xe6e2;</i> 批量删除
			</a>
		</span>
		<span class="r">共有数据：<strong>{$count}</strong> 条</span>
	</div>
	
<table class="table table-border table-bordered table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
		<th width="25"><input type="checkbox" name="" value=""></th>
        <th width="80">ID</th>
        <th width="17%">内容</th>
        <th width="17%">用户名</th>
        <th width="120">客户端IP</th>
        <th width="120">时间</th>
        <th width="70">操作</th>
      </tr>
    </thead>
    <tbody>
	<volist name="log" id="v">
      <tr class="text-c">
		<td class="one" id="{$v.id}"><input type="checkbox" value="" name=""></td>
        <td>{$v.id}</td>
        <td><if condition="$v['last_login']">登录成功!<elseif condition="$v['out_login']"/>退出成功!</if></td>
        <td>{$v.admin_id|get_admin_name}</td>
        <td>{$v.ip}</td>
        <td><if condition="$v['last_login']">{$v.last_login|date="Y-m-d H:i:s",###}<elseif condition="$v['out_login']"/>{$v.out_login|date="Y-m-d H:i:s",###}</if></td>
        <td><a title="删除" href="javascript:;" onclick="log_del(this,'{$v.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
	  </tr>
	  </volist>
    </tbody>
	
</table>
	<br>
	<?php

			if($count>10){
	?>
	<div class="paginate" style="float:right;">{$page}</div>
	<?php
		}
		?>
</div>
<script>
	//批量删除
	function datadel(){
		var ids="";
		$(".one").each(function(){
			var p =$(this);
			if(p.children().is(":checked")){
				ids+=p.attr('id')+',';
			}
		});
		if(ids==""){
			layer.msg("您什么都没有选择呢",{icon:2});
			return false;
		}
		var r=confirm("确认删除吗");
		if(r==true){
		}else{
			return false;
		}
		$.post("{:U('Users/del_all')}",{'ids':ids},function(data){
			if(data.status==1){
				layer.msg("删除成功",{icon:1});
				window.location.reload();
			}else{
				layer.msg("删除失败",{icon:2});
			}
		});
	}

	function log_del(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.post("{:U('Users/log_del')}",{'id':id},function(data){
				if(data.status==1){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}else if(data.status==2){
					layer.msg('您是普通会员没有删除权限!',{icon:2,time:1000});
				}
			});
			
		});
	}
</script>