
<article class="page-container">
	<form method="post" class="form form-horizontal" id="form-change-password" onsubmit="return false;">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-8 col-sm-9"> {$user_info.username} </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="" name="newpassword" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="" name="newpassword2" id="newpassword2">
			</div>
		</div>
		<div class="row cl">
			<input type="hidden" id="id" value="{$Think.get.id}"/>
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
<script>
	$(".btn").click(function(data){
		var id=$("#id").val();
		var newpassword=$("#newpassword").val();
		var newpassword2=$("#newpassword2").val();
		if(newpassword=="" || newpassword2==""){layer.msg("新密码和确认密码不能为空",{icon:2});return}
		if(newpassword!=newpassword2){layer.msg("两次密码不一致",{icon:2});return}
		$.post("{:U('Member/change_password')}",{'id':id,'newpassword':newpassword},function(data){
			if(data.status==1){
				layer.msg("修改成功",{icon:1});
				parent.window.location.reload();
			}else{
				layer.msg("修改失败",{icon:2});
			}
		});
	})
	
	$("#all1").click(function(){
		$("input").prop("checked",this.checked);
	});
	
	
</script>