<div class="header">
  <div class="head_left">
    <a href="index.html"><img src="__PUBLIC__/home/assets/images/logo.png" alt="联农聚牧"></a>
    <img src="__PUBLIC__/home/assets/images/logo_s.png" alt="联农聚牧">
  </div>
  <div class="head_seach">
    <form>
     <p><span>供应</span>|<span>竞价</span>|<span>挂牌</span></p>
     <div class="search_box"><input class="search_text" type="text" placeholder="输入商品名搜索供应信息"><input class="search_button" type="button" value="搜索"></div>
     <div class="search_box"><input class="search_text" type="text" placeholder="输入商品名搜索供应信息"><input class="search_button" type="button" value="搜索"></div>
     <div class="search_box"><input class="search_text" type="text" placeholder="输入商品名搜索供应信息"><input class="search_button" type="button" value="搜索"></div> 
    </form>
  </div>
  <div class="head_phone">
    <img src="__PUBLIC__/home/assets/images/pic_04.jpg" alt="联农聚牧"><p><span>全国咨询热线</span><i>400-7777-051</i></p>
  </div>
</div>