@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	font-family: PFSCL;
}

@font-face {
	font-family: PFSCL;
	src: url('../font/PingFangSC-Light_0.otf');
}

html,
body {
	font-size: 62.5%;
	min-width: 320px;
}

ul {
	list-style: none;
}

img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
}

a {
	text-decoration: none;
}

.clearfix {
	clear: both;
}

.container {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}
textarea{
	resize: none;
}

.href{
	width: 100%;
	background: #000000;
	color: #FFFFFF;
	font-size: 1.4rem;
	text-align: center;
	line-height: 25px;
	margin-top: 100px;
}